{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-12">
      <div class="content-column-content">
        <h1 class="heading">Page not found</h1>
        <p><a href="{{ .Site.BaseURL }}">Return to the home page</a>.</p>
      </div>
    </div>
  </div>
</div>
{{ end }}
