.img-shadow_org{border:2px solid #fff;box-shadow:10px 10px 5px 10px #ccc;-moz-box-shadow:10px 10px 5px 10px #ccc;-webkit-box-shadow:10px 10px 5px 20px #ccc;-khtml-box-shadow:10px 10px 5px #ccc;}
.img-shadow-small{margin:inherit;-webkit-filter:drop-shadow(4px 4px 4px #222);filter:drop-shadow(4px 4px 4px #222);}
.img-shadow{margin:inherit;-webkit-filter:drop-shadow(8px 8px 8px #222);filter:drop-shadow(8px 8px 8px #222);}
.footer-div{width:100%;}
.footer-img{margin:inherit;-webkit-filter:drop-shadow(2px 2px 2px #222);filter:drop-shadow(2px 2px 2px #222);}
.half-size{height:10;}
.img-opacity{opacity:0.5;filter:alpha(opacity=50);}
.img-opacity:hover{opacity:1.0;filter:alpha(opacity=100);}
.heading{color:#ff7473;}

.sbt_img_shadow {
    filter: drop-shadow(1px 2px 1px rgba(0,0,0,0.4));
    height: 98px;
  }